<div class="wrapper home">

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

    <form class="form-group" id="assetSearchForm" action="{{context}}/assets/restservice/list">

        <div class="form-group has-feedback form-search">
            <input type="text" name="query" id="inp_searchAsset" class="form-control" placeholder="Search asset by name...">
            <a href="javascript:void(0)" id="searchButton" class="form-control-feedback search" title="{{t "Search"}}">
                <i class="fw fw-search" aria-hidden="true"></i>
            </a>

            {{>search-options-popover .}}
            <a href="{{context}}/pages/advanced-search" class="form-control-feedback advance" id="advance-search"
               title="{{t "Advance Search"}}">
                <span>{{t "Advanced Search"}}</span>
            </a>
            <input type="hidden" name="sortby" value=""/>
            <input type="hidden" name="sort" value=""/>
        </div>
    </form>



<div class="row">

</div>

<hr>

<div class="page-header no-border">
    <h1>{{t "Other Assets"}}</h1>

    <p class="lead">{{t "Browse available assets of below types"}}</p>
</div>

<!-- content -->
<div class="ast-container" id="list_assets_table_body">

    <div class="clearfix">
        <div class="row">

            {{#each assets}}
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 {{type}}">
                    <div class="tile color0" data-click-event="steps">
                        <div data-step="1">
                            <h1 class="asset-title">{{details.pluralLabel}}</h1>

                            <div class="action-group">
                                <span class="icons">
                                    <i class="tile-icon fw {{icon}}"></i>
                                </span>

                            </div>
			                <span class="actions-right">
                                    <a href="{{url ""}}/assets/{{type}}/list" class="btn btn-default secondary">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-view fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                       {{t "Browse"}}
                                    </a>
                                {{#hasAssetPermission . key="ASSET_CREATE" type=type username=../cuser.username tenantId=../cuser.tenantId}}
                                    <a id="{{details.pluralLabel}}-add" href="{{url ""}}/assets/{{type}}/create"
                                       class="btn btn-default primary">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-add fw-stack-1x"></i>
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                        </span>
                                        {{t "Add"}}
                                    </a>
                                {{/hasAssetPermission}}
                            </span>
                        </div>

                    </div>
                </div>

            {{/each}}
        </div>
    </div>

</div>

</div>
</div>

</div>
